name: Deploy paymonth-nextjs on self-hosted server

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Go to project folder
        working-directory: /home/phoubon-test-paymonth/htdocs/test-paymonth.phoubon.in.th
        run: |
          pwd
          ls

      - name: Git pull latest code
        working-directory: /home/phoubon-test-paymonth/htdocs/test-paymonth.phoubon.in.th
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          git -c http.https://github.com/.extraheader="AUTHORIZATION: bearer ${GITHUB_TOKEN}" pull origin main

      - name: Install dependencies
        working-directory: /home/phoubon-test-paymonth/htdocs/test-paymonth.phoubon.in.th
        run: |
          npm ci

      - name: Prisma generate
        working-directory: /home/phoubon-test-paymonth/htdocs/test-paymonth.phoubon.in.th
        run: |
          npx prisma generate

      - name: Build Next.js
        working-directory: /home/phoubon-test-paymonth/htdocs/test-paymonth.phoubon.in.th
        run: |
          npm run build

      - name: Restart app with PM2 (no duplicate)
        working-directory: /home/phoubon-test-paymonth/htdocs/test-paymonth.phoubon.in.th
        run: |
          if pm2 describe paymonth-nextjs > /dev/null 2>&1; then
            echo "PM2 process exists -> restart"
            pm2 restart paymonth-nextjs
          else
            echo "PM2 process not found -> start new"
            pm2 start "npm start" --name paymonth-nextjs
          fi
          pm2 save
